$primary-text-color: #212121;
$primary-bg-color: #ffffff;
$light-bg-color: #f8f8f8;
$secondary-bg-color: #e5e5e5;
$active-bg-color: #dcdada;
$error-color: #dd2c00;
$disabled-text-color: #9b9b9b;
$secondary-text-color: #737373;
$divider-color: #dbdbdb;
$primary-color: #3f51b5;
$accent-color: #ff4081;
$base-color: #000;


