@import "../variables";
@import "typography-mixins";
@import "button-mixins";

@mixin img($width,$height){
  width: $width;
  height: $height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

@mixin flex($dir,$justify,$items){
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $items;
}

